<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('../partials/includes')%>
</head><body>
<div class="jumbotron text-center" style="margin-bottom:0">
<h1>My Shop Project</h1>
<p>Welcome to my shop project!</p>
</div>