<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
    <form method="post" action="">
        Name:<input type="text" name="name"><br>
        Type:<input type="text" name="type"><br>
        Price:<input type="number" name="price"><br>
        <input type="submit" value="Save"><br>
    </form>
<%- include('../partials/footer.ejs') %>
