<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="post" action="">
        Name:<input type="text" name="name"><br>
        Type:<input type="text" name="type"><br>
        Price:<input type="number" name="price"><br>
        <input type="submit" value="Save"><br>
    </form>
</body>
</html>